openapi: 3.0.3
info:
  title: API Mecano
  description: Contrat d'interface pour la plateforme Mecano. Source de vérité.
  version: 1.0.0
servers:
  - url: https://api.garage.com/api/v1
    description: Serveur de production / recette
paths:
  /health:
    get:
      summary: État de santé du système
      operationId: getHealth
      responses:
        '200':
          description: Système opérationnel
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                required:
                  - status
                  - timestamp
  /auth/login:
    post:
      summary: Connexion utilisateur (BFF / Admin)
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: mecanicien@garage.com
                password:
                  type: string
                  format: password
                  example: secret123
              required:
                - email
                - password
      responses:
        '200':
          description: Connexion réussie, renvoie le jeton d'accès et l'utilisateur
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
                required:
                  - token
                  - user
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ErrorResponse'
  /auth/logout:
    post:
      summary: Déconnexion utilisateur
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Déconnexion réussie (sans corps)
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /auth/me:
    get:
      summary: Utilisateur connecté
      operationId: getMe
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Informations sur l'utilisateur courant
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'
                required:
                  - data
        '401':
          $ref: '#/components/responses/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Mécanicien Admin
        email:
          type: string
          format: email
          example: mecanicien@garage.com
        created_at:
          type: string
          format: date-time
      required:
        - id
        - name
        - email
        - created_at
    ErrorDetail:
      type: object
      description: Structure standard des erreurs d'API
      properties:
        code:
          type: string
          example: VALIDATION_FAILED
        message:
          type: string
          example: Certains champs sont invalides.
        details:
          type: object
          nullable: true
      required:
        - code
        - message
  responses:
    ErrorResponse:
      description: Erreur API structurée
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                $ref: '#/components/schemas/ErrorDetail'
            required:
              - error
